<app-header></app-header>  

 <ion-content scrollY="false">
  <swiper-container
  #swiper
  [options]="slideOpts"
  (afterInit)="swiperReady()"
  (slideChange)="swiperSlideChanged($event)"  
  [pagination]="true"
  [zoom]="true"
  [loop]="true"
>
  <swiper-slide *ngFor="let image of images">
    <div class="contenendor-imagen">
      <img  class="imagen" [src]="image">
      <ion-button class="boton-cita">Agendar cita</ion-button>
    </div>
  </swiper-slide>
</swiper-container>
<div align="center" >
<ion-icon class="icono" name="caret-down-circle-outline"></ion-icon>
</div>

<app-productos-inicio></app-productos-inicio>
<app-servicios-inicio></app-servicios-inicio>

<!-- ejemplos de como manejar las citas -->
<!-- mandamos atraer el componente card-entrada para mostrar las entradas registradas-->
 <!-- <app-card-entrada [entrada]="entradaActual" (eventoGuardar)="guardar($event)"></app-card-entrada> -->
</ion-content>  

 <app-footer></app-footer>