<ion-footer>
  
    <ion-segment value="heart">
      <ion-segment-button value="home">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>

 
    <ion-segment-button value="search-outline">
      <ion-icon name="search-outline"></ion-icon>
    </ion-segment-button>


    <ion-segment-button value="person-circle-outline">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-segment-button>

 
  </ion-segment>
  
  <!--Esto es iconos con texto  -->
  
  <!-- <ion-segment value="heart">
    <ion-segment-button value="call">
      <ion-label>Call</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-label>Heart</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-label>Pin</ion-label>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
  </ion-segment>   -->

  
</ion-footer>